bases:
  - "../../bases/child-environments.yaml"

---

bases:
  - "../../bases/default.yaml.gotmpl"

releases:
  - name: drive-postgresql
    labels:
      tier: infra
    chart: ../common/charts/postgresql
    version: "16.7.18"
    {{- if .Values.application.drive.namespace }}
    namespace: {{ .Values.application.drive.namespace }}
    {{- end }}
    installed: {{ and (eq .Environment.Name "demo") ( .Values.application.drive.enabled) (ne (.Values.database.default.provider | default "bitnami") "cnpg") | toYaml }}
    values:
      - "values-postgresql.yaml.gotmpl"

  - name: drive-cluster-credentials
    labels:
      tier: infra
    chart: ../common/charts/cnpg-cluster-credentials
    {{- if .Values.application.drive.namespace }}
    namespace: {{ .Values.application.drive.namespace }}
    {{- end }}
    installed: {{ and (eq .Environment.Name "demo") ( .Values.application.drive.enabled) (eq (.Values.database.default.provider | default "bitnami") "cnpg") | toYaml }}
    values:
      - "values-cnpg-cluster-credentials.yaml.gotmpl"

  - name: drive-cluster
    labels:
      tier: infra
    chart: ../common/charts/cluster
    {{- if .Values.application.drive.namespace }}
    namespace: {{ .Values.application.drive.namespace }}
    {{- end }}
    installed: {{ and (eq .Environment.Name "demo") ( .Values.application.drive.enabled) (eq (.Values.database.default.provider | default "bitnami") "cnpg") | toYaml }}
    needs:
      - {{ if .Values.application.drive.namespace }}{{ .Values.application.drive.namespace }}/{{ end }}drive-cluster-credentials
    values:
      - "values-cnpg-cluster.yaml.gotmpl"

  - name: drive-redis
    labels:
      tier: infra
    chart: ../common/charts/redis
    version: "21.2.6"
    {{- if .Values.application.drive.namespace }}
    namespace: {{ .Values.application.drive.namespace }}
    {{- end }}
    installed: {{ and (eq .Environment.Name "demo") ( .Values.application.drive.enabled) | toYaml }}
    values:
      - "values-redis.yaml.gotmpl"

  - name: drive-minio
    labels:
      tier: infra
    chart: ../common/charts/minio
    version: "17.0.11"
    {{- if .Values.application.drive.namespace }}
    namespace: {{ .Values.application.drive.namespace }}
    {{- end }}
    installed: {{ and (eq .Environment.Name "demo") ( .Values.application.drive.enabled) | toYaml }}
    values:
      - "../common/values-cluster-ingress.yaml.gotmpl"
      - "values-minio.yaml.gotmpl"

  - name: drive
    labels:
      tier: app
    chart: charts/drive
    condition: application.drive.enabled
    {{- if .Values.application.drive.namespace }}
    namespace: {{ .Values.application.drive.namespace }}
    {{- end }}
    {{- if and (eq .Environment.Name "demo") ( .Values.application.drive.enabled) }}
    needs:
      {{- if eq (.Values.database.default.provider | default "bitnami") "cnpg" }}
      - {{ if .Values.application.drive.namespace }}{{ .Values.application.drive.namespace }}/{{ end }}drive-cluster
      {{- else }}
      - {{ if .Values.application.drive.namespace }}{{ .Values.application.drive.namespace }}/{{ end }}drive-postgresql
      {{- end }}
      - {{ if .Values.application.drive.namespace }}{{ .Values.application.drive.namespace }}/{{ end }}drive-redis
      - {{ if .Values.application.drive.namespace }}{{ .Values.application.drive.namespace }}/{{ end }}drive-minio
    {{- end }}
    values:
      - "../common/values-cluster-ingress.yaml.gotmpl"
      - "values.yaml.gotmpl"

  - name: drive-nginx
    labels:
      tier: app
    chart: ../common/charts/nginx
    version: "22.0.0"
    {{- if .Values.application.drive.namespace }}
    namespace: {{ .Values.application.drive.namespace }}
    {{- end }}
    installed: {{ .Values.application.drive.enabled | toYaml }}
    needs:
      - {{ if .Values.application.drive.namespace }}{{ .Values.application.drive.namespace }}/{{ end }}drive
    values:
      - "../common/values-cluster-ingress.yaml.gotmpl"
      - "values-nginx.yaml.gotmpl"

  - name: drive-static
    labels:
      tier: app
    chart: ../common/charts/nginx
    version: "22.0.0"
    {{- if .Values.application.drive.namespace }}
    namespace: {{ .Values.application.drive.namespace }}
    {{- end }}
    installed: {{ and .Values.application.drive.enabled (or (eq .Values.cluster.ingress.type "haproxy-openshift") (eq .Values.cluster.ingress.type "traefik")) | toYaml }}
    values:
      - "../common/values-cluster-ingress.yaml.gotmpl"
      - "values-static-nginx.yaml.gotmpl"
