bases:
  - "../../bases/default.yaml.gotmpl"

releases:
  - name: meet
    chart: charts/meet
    condition: application.meet.enabled
    {{- if .Values.application.meet.namespace }}
    namespace: {{ .Values.application.meet.namespace }}
    {{- end }}
    {{- if .Values.application.meet.enabled }}
    needs:
      # meet-static creates the `meet-static-files` ConfigMap that meet's
      # inject-bureaublad-button initContainer mounts. Without this needs,
      # a fresh install applies meet first and its frontend pod hangs in
      # ContainerCreating until meet-static catches up.
      - {{ if .Values.application.meet.namespace }}{{ .Values.application.meet.namespace }}/{{ end }}meet-static
      {{- if eq .Environment.Name "demo" }}
      {{- if eq (.Values.database.default.provider | default "bitnami") "cnpg" }}
      - {{ if .Values.application.meet.namespace }}{{ .Values.application.meet.namespace }}/{{ end }}meet-cluster
      {{- else }}
      - {{ if .Values.application.meet.namespace }}{{ .Values.application.meet.namespace }}/{{ end }}meet-postgresql
      {{- end }}
      - {{ if .Values.application.meet.namespace }}{{ .Values.application.meet.namespace }}/{{ end }}meet-redis
      {{- end }}
    {{- end }}
    values:
      - "../common/values-cluster-ingress.yaml.gotmpl"
      - "values.yaml.gotmpl"

  - name: meet-postgresql
    chart: ../common/charts/postgresql
    version: "16.7.18"
    {{- if .Values.application.meet.namespace }}
    namespace: {{ .Values.application.meet.namespace }}
    {{- end }}
    installed: {{ and (eq .Environment.Name "demo") ( .Values.application.meet.enabled) (ne (.Values.database.default.provider | default "bitnami") "cnpg") | toYaml }}
    values:
      - "values-postgresql.yaml.gotmpl"

  - name: meet-cluster-credentials
    chart: ../common/charts/cnpg-cluster-credentials
    {{- if .Values.application.meet.namespace }}
    namespace: {{ .Values.application.meet.namespace }}
    {{- end }}
    installed: {{ and (eq .Environment.Name "demo") ( .Values.application.meet.enabled) (eq (.Values.database.default.provider | default "bitnami") "cnpg") | toYaml }}
    values:
      - "values-cnpg-cluster-credentials.yaml.gotmpl"

  - name: meet-cluster
    chart: ../common/charts/cluster
    {{- if .Values.application.meet.namespace }}
    namespace: {{ .Values.application.meet.namespace }}
    {{- end }}
    installed: {{ and (eq .Environment.Name "demo") ( .Values.application.meet.enabled) (eq (.Values.database.default.provider | default "bitnami") "cnpg") | toYaml }}
    needs:
      - {{ if .Values.application.meet.namespace }}{{ .Values.application.meet.namespace }}/{{ end }}meet-cluster-credentials
    values:
      - "values-cnpg-cluster.yaml.gotmpl"

  - name: meet-redis
    chart: ../common/charts/redis
    version: "21.2.6"
    {{- if .Values.application.meet.namespace }}
    namespace: {{ .Values.application.meet.namespace }}
    {{- end }}
    installed: {{ and (eq .Environment.Name "demo") ( .Values.application.meet.enabled) | toYaml }}
    values:
      - "values-redis.yaml.gotmpl"

  - name: meet-static
    chart: ../common/charts/nginx
    version: "22.0.0"
    {{- if .Values.application.meet.namespace }}
    namespace: {{ .Values.application.meet.namespace }}
    {{- end }}
    installed: {{ .Values.application.meet.enabled | toYaml }}
    values:
      - "../common/values-cluster-ingress.yaml.gotmpl"
      - "values-static-nginx.yaml.gotmpl"
