global:
  imageRegistry: ""
  imagePullSecrets: []
  defaultStorageClass: {{ coalesce .Values.pvc.keycloak.keycloak.storageClass .Values.pvc.default.storageClass | quote }}
  security:
    allowInsecureImages: true
  compatibility:
    openshift:
      adaptSecurityContext: auto


clusterDomain: {{ .Values.cluster.networking.domain | default "cluster.local" | quote }}

extraDeploy:
  - apiVersion: networking.k8s.io/v1
    kind: NetworkPolicy
    metadata:
      namespace: {{ .Release.Namespace }}
      labels:
        app.kubernetes.io/component: {{ .Release.Name }}-cli
        app.kubernetes.io/name: {{ .Release.Name }}-cli
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/version: 1.0.0
        app.kubernetes.io/managed-by: Helm
      name: {{ .Release.Name }}-cli
    spec:
      egress:
      - {}
      podSelector:
        matchLabels:
          app.kubernetes.io/component: keycloak-config-cli
      policyTypes:
      - Egress
  - apiVersion: v1
    kind: Secret
    metadata:
      namespace: {{ .Release.Namespace }}
      labels:
        app.kubernetes.io/component: {{ .Release.Name }}-cli
        app.kubernetes.io/name: {{ .Release.Name }}-cli
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/version: 1.0.0
        app.kubernetes.io/managed-by: Helm
      name: {{ .Release.Name }}-config-cli
    type: Opaque
    stringData:
      MB_CLIENT_SECRET_GRIST: {{ .Values.authentication.client.grist.client_secret | quote }}
      MB_CLIENT_SECRET_SYNAPSE: {{ .Values.authentication.client.synapse.client_secret | quote }}
      MB_CLIENT_SECRET_MEET: {{ .Values.authentication.client.meet.client_secret | quote }}
      MB_CLIENT_SECRET_CONVERSATIONS: {{ .Values.authentication.client.conversations.client_secret | quote }}
      MB_CLIENT_SECRET_DRIVE: {{ .Values.authentication.client.drive.client_secret | quote }}
      MB_CLIENT_SECRET_NEXTCLOUD: {{ .Values.authentication.client.nextcloud.client_secret | quote }}
      MB_CLIENT_SECRET_OPENPROJECT: {{ .Values.authentication.client.openproject.client_secret | quote }}
      MB_CLIENT_SECRET_DOCS: {{ .Values.authentication.client.docs.client_secret | quote }}
      MB_CLIENT_SECRET_BUREAUBLAD: {{ .Values.authentication.client.bureaublad.client_secret | quote }}
      {{- if eq .Environment.Name "demo" }}
      {{- range $user := .Values.user }}
      MB_USER_PASSWORD_{{ regexReplaceAll "[^A-Z0-9_]" (upper $user.username) "_" }}: {{ $user.password | quote }}
      {{- end }}
      {{- end }}

image:
  registry: {{ coalesce .Values.container.keycloak.registry .Values.container.default.registry | default "docker.io" | quote }}
  repository:  {{ .Values.container.keycloak.repository | default "bitnami/keycloak" | quote }}
  tag: {{ .Values.container.keycloak.tag | default "26.2.5-debian-12-r3" | quote }}
  pullPolicy: Always
  {{- with (coalesce .Values.container.keycloak.imagePullSecret .Values.container.default.imagePullSecret) }}
  pullSecrets:
    - {{ . | quote }}
  {{- end }}


auth:
  adminUser: {{ .Values.secret.keycloak.adminUser | quote }}
  adminPassword: {{ .Values.secret.keycloak.adminPassword | quote }}



production: true
proxyHeaders: "xforwarded"
httpEnabled: true

podSecurityContext:
  {{ .Values.security.default.podSecurityContext | toYaml | nindent 4 }}

containerSecurityContext:
  {{ .Values.security.default.containerSecurityContext | toYaml | nindent 4 }}

resourcesPreset: {{ coalesce .Values.global.resourcesPresetPerApp.keycloak .Values.global.resourcesPreset | quote }}

resources: {{ .Values.resource.keycloak.keycloak | default dict | toYaml | nindent 2 }}

ingress:
  enabled: true
  ingressClassName: {{.Values.cluster.ingress.className | quote }}
  pathType: ImplementationSpecific
  hostname: {{ .Values.global.hostname.keycloak }}.{{ .Values.global.domain }}
  annotations:
    {{- if .Values.cluster.ingress.annotations }}
    {{ .Values.cluster.ingress.annotations | toYaml | nindent 4 }}
    {{- end }}
    {{- if eq .Values.cluster.ingress.type "nginx" }}
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      add_header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" always;
    {{- end }}
    {{- if eq .Values.cluster.ingress.type "haproxy-openshift" }}
    haproxy.router.openshift.io/hsts_header: max-age=31536000;includeSubDomains;preload
    {{- end }}
    {{- if eq .Values.cluster.ingress.type "traefik" }}
    traefik.ingress.kubernetes.io/router.middlewares: '{{ .Release.Namespace }}-hsts-header@kubernetescrd'
    {{- end }}

  tls: {{ .Values.global.tls.enabled | default true }}
  selfSigned: {{ and .Values.global.tls.enabled .Values.global.tls.selfSigned | default false }}
  extraTls: {{ .Values.tls.keycloak | toYaml | nindent 4 }}

networkPolicy:
  enabled: true
  extraIngress:
    - from:
      - namespaceSelector:
          matchLabels:
            kubernetes.io/metadata.name: {{ .Release.Namespace }}
      - podSelector:
          matchLabels:
            app.kubernetes.io/component: keycloak-config-cli
            app.kubernetes.io/name: keycloak
      ports:
          - port: 7800
          - port: 8080

autoscaling:
  enabled: {{ .Values.autoscaling.horizontal.keycloak.enabled }}
  minReplicas: {{ .Values.autoscaling.horizontal.keycloak.minReplicas }}
  maxReplicas: {{ .Values.autoscaling.horizontal.keycloak.maxReplicas }}
  targetCPU: {{ .Values.autoscaling.horizontal.keycloak.targetCPU }}
  targetMemory: {{ .Values.autoscaling.horizontal.keycloak.targetMemory }}

pdb: {{ .Values.pdb.keycloak | toYaml | nindent 2 }}

metrics:
  enabled: {{ .Values.metric.enabled | default false  }}
  serviceMonitor:
    enabled:  {{ .Values.metric.serviceMonitor.enabled | default false  }}
  prometheusRule:
    enabled: {{ .Values.metric.prometheusRule.enabled | default false  }}


keycloakConfigCli:
  enabled: true
  image:
    registry: {{ coalesce .Values.container.keycloak_cli.registry .Values.container.default.registry | default "docker.io" | quote }}
    repository:  {{ .Values.container.keycloak_cli.repository | default "bitnami/keycloak-config-cli" | quote }}
    tag: {{ .Values.container.keycloak_cli.tag | default "6.4.0-debian-12-r8" | quote }}
    pullPolicy: Always
    {{- with (coalesce .Values.container.keycloak_cli.imagePullSecret .Values.container.default.imagePullSecret) }}
    pullSecrets:
      - {{ . | quote }}
    {{- end }}
  annotations:
    helm.sh/hook-delete-policy: "hook-succeeded,before-hook-creation"
    helm.sh/hook-weight: "5"
  resourcesPreset: {{ coalesce .Values.global.resourcesPresetPerApp.keycloak .Values.global.resourcesPreset | quote }}

  resources: {{ .Values.resource.keycloak.keycloak | default dict | toYaml | nindent 4 }}
  containerSecurityContext:
    {{ .Values.security.default.containerSecurityContext | toYaml | nindent 4 }}
  podSecurityContext:
    {{ .Values.security.default.podSecurityContext | toYaml | nindent 4 }}
  extraEnvVars:
    - name: IMPORT_VARSUBSTITUTION_ENABLED
      value: "true"
  extraEnvVarsSecret: {{ .Release.Name }}-config-cli
  configuration:
    master.json: |
      {
        "realm" : "master",
        "attributes": {
          "frontendUrl": "https://{{ .Values.global.hostname.keycloak }}.{{ .Values.global.domain }}"
        }
      }
    mijnbureau.json: |
      {
        "realm" : "mijnbureau",
        "displayName": "Mijn Bureau",
        "displayNameHtml": "<b>Mijn Bureau</b>",
        "defaultSignatureAlgorithm": "RS256",
        "enabled" : true,
        "revokeRefreshToken": true,
        "editUsernameAllowed": false,
        "registrationAllowed": false,
        "duplicateEmailsAllowed": false,
        "rememberMe": true,
        "loginWithEmailAllowed": true,
        "bruteForceProtected": true,
        "permanentLockout": false,
        "maxTemporaryLockouts": 0,
        "bruteForceStrategy": "LINEAR",
        "maxFailureWaitSeconds": 900,
        "minimumQuickLoginWaitSeconds": 60,
        "waitIncrementSeconds": 60,
        "quickLoginCheckMilliSeconds": 1000,
        "maxDeltaTimeSeconds": 43200,
        "failureFactor": 30,
        "clients": [
          {
            "clientId": "{{ .Values.authentication.client.grist.client_id }}",
            "name": "Grist",
            "description": "Smart spreadsheets with Grist",
            "rootUrl": "https://{{ .Values.global.hostname.grist }}.{{ .Values.global.domain }}",
            "adminUrl": "https://{{ .Values.global.hostname.grist }}.{{ .Values.global.domain }}/o/docs/admin",
            "baseUrl": "https://{{ .Values.global.hostname.grist }}.{{ .Values.global.domain }}",
            "surrogateAuthRequired": false,
            "enabled": true,
            "alwaysDisplayInConsole": true,
            "clientAuthenticatorType": "client-secret",
            "secret": "$(env:MB_CLIENT_SECRET_GRIST)",
            "redirectUris": [
              "/oauth2/callback"
            ],
            "webOrigins": [
              "https://{{ .Values.global.hostname.grist }}.{{ .Values.global.domain }}"
            ],
            "notBefore": 0,
            "bearerOnly": false,
            "consentRequired": false,
            "standardFlowEnabled": true,
            "implicitFlowEnabled": false,
            "directAccessGrantsEnabled": false,
            "serviceAccountsEnabled": false,
            "publicClient": false,
            "frontchannelLogout": true,
            "protocol": "openid-connect",
            "attributes": {
              "realm_client": "false",
              "oidc.ciba.grant.enabled": "false",
              "client.secret.creation.time": "1759388679",
              "backchannel.logout.session.required": "true",
              "backchannel.logout.url": "",
              "standard.token.exchange.enabled": "false",
              "frontchannel.logout.url": "https://{{ .Values.global.hostname.grist }}.{{ .Values.global.domain }}/o/docs/logout?next=/",
              "post.logout.redirect.uris": "https://{{ .Values.global.hostname.grist }}.{{ .Values.global.domain }}/*",
              "frontchannel.logout.session.required": "false",
              "oauth2.device.authorization.grant.enabled": "false",
              "display.on.consent.screen": "false",
              "backchannel.logout.revoke.offline.tokens": "false"
            }
          },
          {
            "clientId": "{{ .Values.authentication.client.synapse.client_id }}",
            "name": "Chat",
            "description": "Matrix-based chat with Synapse",
            "rootUrl": "https://{{ .Values.global.hostname.synapse }}.{{ .Values.global.domain }}",
            "adminUrl": "https://{{ .Values.global.hostname.synapse }}.{{ .Values.global.domain }}",
            "baseUrl": "https://{{ .Values.global.hostname.synapse }}.{{ .Values.global.domain }}",
            "surrogateAuthRequired": false,
            "enabled": true,
            "alwaysDisplayInConsole": true,
            "clientAuthenticatorType": "client-secret",
            "secret": "$(env:MB_CLIENT_SECRET_SYNAPSE)",
            "redirectUris": [
              "/_synapse/client/oidc/callback"
            ],
            "webOrigins": [
              "https://{{ .Values.global.hostname.synapse }}.{{ .Values.global.domain }}"
            ],
            "notBefore": 0,
            "bearerOnly": false,
            "consentRequired": false,
            "standardFlowEnabled": true,
            "implicitFlowEnabled": false,
            "directAccessGrantsEnabled": false,
            "serviceAccountsEnabled": false,
            "publicClient": false,
            "frontchannelLogout": false,
            "protocol": "openid-connect",
            "attributes": {
              "realm_client": "false",
              "client.secret.creation.time": "1759388679",
              "backchannel.logout.session.required": "true",
              "backchannel.logout.url": "https://{{ .Values.global.hostname.synapse }}.{{ .Values.global.domain }}/_synapse/client/oidc/backchannel_logout",
              "standard.token.exchange.enabled": "false",
              "frontchannel.logout.session.required": "true",
              "post.logout.redirect.uris": "https://{{ .Values.global.hostname.synapse }}.{{ .Values.global.domain }}/*"
            }
          },
          {
            "clientId": "{{ .Values.authentication.client.meet.client_id }}",
            "name": "Meet",
            "description": "livekit-based video conferencing with Meet",
            "rootUrl": "https://{{ .Values.global.hostname.meet }}.{{ .Values.global.domain }}",
            "adminUrl": "https://{{ .Values.global.hostname.meet }}.{{ .Values.global.domain }}",
            "baseUrl": "https://{{ .Values.global.hostname.meet }}.{{ .Values.global.domain }}",
            "surrogateAuthRequired": false,
            "enabled": true,
            "alwaysDisplayInConsole": true,
            "clientAuthenticatorType": "client-secret",
            "secret": "$(env:MB_CLIENT_SECRET_MEET)",
            "redirectUris": [
              "/*"
            ],
            "webOrigins": [
              "https://{{ .Values.global.hostname.meet }}.{{ .Values.global.domain }}"
            ],
            "notBefore": 0,
            "bearerOnly": false,
            "consentRequired": false,
            "standardFlowEnabled": true,
            "implicitFlowEnabled": false,
            "directAccessGrantsEnabled": false,
            "serviceAccountsEnabled": false,
            "publicClient": false,
            "frontchannelLogout": true,
            "protocol": "openid-connect",
            "attributes": {
              "realm_client": "false",
              "oidc.ciba.grant.enabled": "false",
              "client.secret.creation.time": "1759388679",
              "backchannel.logout.session.required": "true",
              "backchannel.logout.url": "https://{{ .Values.global.hostname.meet }}.{{ .Values.global.domain }}/api/v1.0/logout/",
              "standard.token.exchange.enabled": "false",
              "frontchannel.logout.url": "https://{{ .Values.global.hostname.meet }}.{{ .Values.global.domain }}/api/v1.0/logout/",
              "post.logout.redirect.uris": "https://{{ .Values.global.hostname.meet }}.{{ .Values.global.domain }}/*",
              "frontchannel.logout.session.required": "false",
              "oauth2.device.authorization.grant.enabled": "false",
              "display.on.consent.screen": "false",
              "backchannel.logout.revoke.offline.tokens": "false"
            }
          },
          {
            "clientId": "{{ .Values.authentication.client.conversations.client_id }}",
            "name": "Conversations",
            "description": "AI assistant with LaSuite conversations",
            "rootUrl": "https://{{ .Values.global.hostname.conversations }}.{{ .Values.global.domain }}",
            "adminUrl": "https://{{ .Values.global.hostname.conversations }}.{{ .Values.global.domain }}",
            "baseUrl": "https://{{ .Values.global.hostname.conversations }}.{{ .Values.global.domain }}",
            "surrogateAuthRequired": false,
            "enabled": true,
            "alwaysDisplayInConsole": true,
            "clientAuthenticatorType": "client-secret",
            "secret": "$(env:MB_CLIENT_SECRET_CONVERSATIONS)",
            "redirectUris": [
              "/*"
            ],
            "webOrigins": [
              "https://{{ .Values.global.hostname.conversations }}.{{ .Values.global.domain }}"
            ],
            "notBefore": 0,
            "bearerOnly": false,
            "consentRequired": false,
            "standardFlowEnabled": true,
            "implicitFlowEnabled": false,
            "directAccessGrantsEnabled": false,
            "serviceAccountsEnabled": false,
            "publicClient": false,
            "frontchannelLogout": true,
            "protocol": "openid-connect",
            "attributes": {
              "realm_client": "false",
              "oidc.ciba.grant.enabled": "false",
              "client.secret.creation.time": "1759388679",
              "backchannel.logout.session.required": "true",
              "backchannel.logout.url": "https://{{ .Values.global.hostname.conversations }}.{{ .Values.global.domain }}/api/v1.0/logout/",
              "standard.token.exchange.enabled": "false",
              "frontchannel.logout.url": "https://{{ .Values.global.hostname.conversations }}.{{ .Values.global.domain }}/api/v1.0/logout/",
              "post.logout.redirect.uris": "https://{{ .Values.global.hostname.conversations }}.{{ .Values.global.domain }}/*",
              "frontchannel.logout.session.required": "false",
              "oauth2.device.authorization.grant.enabled": "false",
              "display.on.consent.screen": "false",
              "backchannel.logout.revoke.offline.tokens": "false"
            }
          },
          {
            "clientId": "{{ .Values.authentication.client.drive.client_id }}",
            "name": "Drive",
            "description": "AI assistant with LaSuite drive",
            "rootUrl": "https://{{ .Values.global.hostname.drive }}.{{ .Values.global.domain }}",
            "adminUrl": "https://{{ .Values.global.hostname.drive }}.{{ .Values.global.domain }}",
            "baseUrl": "https://{{ .Values.global.hostname.drive }}.{{ .Values.global.domain }}",
            "surrogateAuthRequired": false,
            "enabled": true,
            "alwaysDisplayInConsole": true,
            "clientAuthenticatorType": "client-secret",
            "secret": "$(env:MB_CLIENT_SECRET_DRIVE)",
            "redirectUris": [
              "/*"
            ],
            "webOrigins": [
              "https://{{ .Values.global.hostname.drive }}.{{ .Values.global.domain }}"
            ],
            "notBefore": 0,
            "bearerOnly": false,
            "consentRequired": false,
            "standardFlowEnabled": true,
            "implicitFlowEnabled": false,
            "directAccessGrantsEnabled": false,
            "serviceAccountsEnabled": false,
            "publicClient": false,
            "frontchannelLogout": true,
            "protocol": "openid-connect",
            "attributes": {
              "realm_client": "false",
              "oidc.ciba.grant.enabled": "false",
              "client.secret.creation.time": "1759388679",
              "backchannel.logout.session.required": "true",
              "backchannel.logout.url": "https://{{ .Values.global.hostname.drive }}.{{ .Values.global.domain }}/api/v1.0/logout/",
              "standard.token.exchange.enabled": "false",
              "frontchannel.logout.url": "https://{{ .Values.global.hostname.drive }}.{{ .Values.global.domain }}/api/v1.0/logout/",
              "post.logout.redirect.uris": "https://{{ .Values.global.hostname.drive }}.{{ .Values.global.domain }}/*",
              "frontchannel.logout.session.required": "false",
              "oauth2.device.authorization.grant.enabled": "false",
              "display.on.consent.screen": "false",
              "backchannel.logout.revoke.offline.tokens": "false"
            }
          },
          {
            "clientId": "{{ .Values.authentication.client.nextcloud.client_id }}",
            "name": "NextCloud",
            "description": "File storage and collaboration platform",
            "rootUrl": "https://{{ .Values.global.hostname.nextcloud }}.{{ .Values.global.domain }}",
            "adminUrl": "https://{{ .Values.global.hostname.nextcloud }}.{{ .Values.global.domain }}",
            "baseUrl": "https://{{ .Values.global.hostname.nextcloud }}.{{ .Values.global.domain }}",
            "surrogateAuthRequired": false,
            "enabled": true,
            "alwaysDisplayInConsole": true,
            "clientAuthenticatorType": "client-secret",
            "secret": "$(env:MB_CLIENT_SECRET_NEXTCLOUD)",
            "redirectUris": [
              "/*"
            ],
            "webOrigins": [
              "https://{{ .Values.global.hostname.nextcloud }}.{{ .Values.global.domain }}"
            ],
            "notBefore": 0,
            "bearerOnly": false,
            "consentRequired": false,
            "standardFlowEnabled": true,
            "implicitFlowEnabled": false,
            "directAccessGrantsEnabled": false,
            "serviceAccountsEnabled": false,
            "publicClient": false,
            "frontchannelLogout": false,
            "protocol": "openid-connect",
            "attributes": {
              "realm_client": "false",
              "client.secret.creation.time": "1759388679",
              "backchannel.logout.session.required": "true",
              "backchannel.logout.url": "https://{{ .Values.global.hostname.nextcloud }}.{{ .Values.global.domain }}/index.php/apps/user_oidc/backchannel-logout/keycloak",
              "standard.token.exchange.enabled": "false",
              "frontchannel.logout.session.required": "true",
              "post.logout.redirect.uris": "+"
            }
          },
          {
            "clientId": "{{ .Values.authentication.client.openproject.client_id }}",
            "name": "OpenProject",
            "description": "File storage and collaboration platform",
            "rootUrl": "https://{{ .Values.global.hostname.openproject }}.{{ .Values.global.domain }}",
            "adminUrl": "https://{{ .Values.global.hostname.openproject }}.{{ .Values.global.domain }}",
            "baseUrl": "https://{{ .Values.global.hostname.openproject }}.{{ .Values.global.domain }}",
            "surrogateAuthRequired": false,
            "enabled": true,
            "alwaysDisplayInConsole": true,
            "clientAuthenticatorType": "client-secret",
            "secret": "$(env:MB_CLIENT_SECRET_OPENPROJECT)",
            "redirectUris": [
              "/*"
            ],
            "webOrigins": [
              "https://{{ .Values.global.hostname.openproject }}.{{ .Values.global.domain }}"
            ],
            "notBefore": 0,
            "bearerOnly": false,
            "consentRequired": false,
            "standardFlowEnabled": true,
            "implicitFlowEnabled": false,
            "directAccessGrantsEnabled": false,
            "serviceAccountsEnabled": false,
            "publicClient": false,
            "frontchannelLogout": false,
            "protocol": "openid-connect",
            "attributes": {
              "realm_client": "false",
              "client.secret.creation.time": "1759388679",
              "backchannel.logout.session.required": "true",
              "backchannel.logout.url": "https://{{ .Values.global.hostname.openproject }}.{{ .Values.global.domain }}/auth/oidc-keycloak/backchannel-logout",
              "standard.token.exchange.enabled": "false",
              "frontchannel.logout.session.required": "true",
              "post.logout.redirect.uris": "https://{{ .Values.global.hostname.openproject }}.{{ .Values.global.domain }}/*"
            }
          },
          {
            "clientId": "{{ .Values.authentication.client.docs.client_id }}",
            "name": "Docs",
            "description": "Docs - Eenvoudig samenwerken aan documenten",
            "rootUrl": "https://{{ .Values.global.hostname.docs }}.{{ .Values.global.domain }}",
            "adminUrl": "https://{{ .Values.global.hostname.docs }}.{{ .Values.global.domain }}",
            "baseUrl": "https://{{ .Values.global.hostname.docs }}.{{ .Values.global.domain }}",
            "enabled": true,
            "alwaysDisplayInConsole": true,
            "clientAuthenticatorType": "client-secret",
            "secret": "$(env:MB_CLIENT_SECRET_DOCS)",
            "redirectUris": [
              "/*"
            ],
            "webOrigins": [
              "https://{{ .Values.global.hostname.docs }}.{{ .Values.global.domain }}"
            ],
            "notBefore": 0,
            "bearerOnly": false,
            "consentRequired": false,
            "standardFlowEnabled": true,
            "implicitFlowEnabled": false,
            "directAccessGrantsEnabled": false,
            "serviceAccountsEnabled": false,
            "publicClient": false,
            "frontchannelLogout": true,
            "protocol": "openid-connect",
            "attributes": {
              "realm_client": "false",
              "oidc.ciba.grant.enabled": "false",
              "client.secret.creation.time": "1759388679",
              "backchannel.logout.session.required": "true",
              "backchannel.logout.url": "https://{{ .Values.global.hostname.docs }}.{{ .Values.global.domain }}/api/v1.0/logout/",
              "standard.token.exchange.enabled": "false",
              "frontchannel.logout.url": "https://{{ .Values.global.hostname.docs }}.{{ .Values.global.domain }}/api/v1.0/logout/",
              "post.logout.redirect.uris": "https://{{ .Values.global.hostname.docs }}.{{ .Values.global.domain }}/*",
              "frontchannel.logout.session.required": "false",
              "oauth2.device.authorization.grant.enabled": "false",
              "display.on.consent.screen": "false",
              "backchannel.logout.revoke.offline.tokens": "false"
            }
          },
          {
            "clientId": "{{ .Values.authentication.client.bureaublad.client_id }}",
            "name": "bureaublad",
            "description": "Mijn Bureau bureaublad",
            "rootUrl": "https://{{ .Values.global.hostname.bureaublad }}.{{ .Values.global.domain }}",
            "adminUrl": "https://{{ .Values.global.hostname.bureaublad }}.{{ .Values.global.domain }}",
            "baseUrl": "https://{{ .Values.global.hostname.bureaublad }}.{{ .Values.global.domain }}",
            "surrogateAuthRequired": false,
            "enabled": true,
            "alwaysDisplayInConsole": true,
            "clientAuthenticatorType": "client-secret",
            "secret": "$(env:MB_CLIENT_SECRET_BUREAUBLAD)",
            "redirectUris": [
              "/api/v1/auth/callback"
            ],
            "webOrigins": [
              "https://{{ .Values.global.hostname.bureaublad }}.{{ .Values.global.domain }}"
            ],
            "notBefore": 0,
            "bearerOnly": false,
            "consentRequired": false,
            "standardFlowEnabled": true,
            "implicitFlowEnabled": false,
            "directAccessGrantsEnabled": false,
            "serviceAccountsEnabled": false,
            "publicClient": false,
            "frontchannelLogout": true,
            "protocol": "openid-connect",
            "attributes": {
              "realm_client": "false",
              "oidc.ciba.grant.enabled": "false",
              "client.secret.creation.time": "1759388679",
              "backchannel.logout.session.required": "true",
              "backchannel.logout.url": "https://{{ .Values.global.hostname.bureaublad }}.{{ .Values.global.domain }}/api/v1/auth/logout",
              "standard.token.exchange.enabled": "true",
              "frontchannel.logout.url": "https://{{ .Values.global.hostname.bureaublad }}.{{ .Values.global.domain }}/api/v1/auth/logout",
              "post.logout.redirect.uris": "https://{{ .Values.global.hostname.bureaublad }}.{{ .Values.global.domain }}/*",
              "frontchannel.logout.session.required": "false",
              "oauth2.device.authorization.grant.enabled": "false",
              "display.on.consent.screen": "false",
              "backchannel.logout.revoke.offline.tokens": "false"
            }
          }
          {{- if .Values.application.find.enabled }},
          {
            "clientId": "{{ .Values.authentication.client.find.client_id }}",
            "name": "Find",
            "description": "Find - Cross-app full-text search engine",
            "rootUrl": "https://{{ .Values.global.hostname.find }}.{{ .Values.global.domain }}",
            "adminUrl": "https://{{ .Values.global.hostname.find }}.{{ .Values.global.domain }}",
            "baseUrl": "https://{{ .Values.global.hostname.find }}.{{ .Values.global.domain }}",
            "enabled": true,
            "alwaysDisplayInConsole": true,
            "clientAuthenticatorType": "client-secret",
            "secret": {{ .Values.authentication.client.find.client_secret | quote }},
            "redirectUris": [
              "/*"
            ],
            "webOrigins": [
              "https://{{ .Values.global.hostname.find }}.{{ .Values.global.domain }}"
            ],
            "notBefore": 0,
            "bearerOnly": false,
            "consentRequired": false,
            "standardFlowEnabled": true,
            "implicitFlowEnabled": false,
            "directAccessGrantsEnabled": false,
            "serviceAccountsEnabled": true,
            "publicClient": false,
            "frontchannelLogout": true,
            "protocol": "openid-connect",
            "attributes": {
              "realm_client": "false",
              "oidc.ciba.grant.enabled": "false",
              "client.secret.creation.time": "1759388679",
              "backchannel.logout.session.required": "true",
              "standard.token.exchange.enabled": "false",
              "frontchannel.logout.session.required": "false",
              "oauth2.device.authorization.grant.enabled": "false",
              "display.on.consent.screen": "false",
              "backchannel.logout.revoke.offline.tokens": "false"
            }
          }
          {{- end }}
        ],
        "defaultRoles": ["offline_access", "uma_authorization", "tokenexchange-role"],
        "roles": {
          "realm": [
            {
              "name": "tokenexchange-role",
              "description": "Allow bureaublad clients to exchange tokens",
              "composite": true,
              "composites": {
                "client": {
                  "{{ .Values.authentication.client.docs.client_id }}": ["token-exchange-role"],
                  "{{ .Values.authentication.client.openproject.client_id }}": ["token-exchange-role"],
                  "{{ .Values.authentication.client.nextcloud.client_id }}": ["token-exchange-role"],
                  "{{ .Values.authentication.client.drive.client_id }}": ["token-exchange-role"],
                  "{{ .Values.authentication.client.conversations.client_id }}": ["token-exchange-role"],
                  "{{ .Values.authentication.client.meet.client_id }}": ["token-exchange-role"],
                  "{{ .Values.authentication.client.synapse.client_id }}": ["token-exchange-role"],
                  "{{ .Values.authentication.client.grist.client_id }}": ["token-exchange-role"]
                }
              },
              "clientRole": false,
              "attributes": {}
            }
          ],
          "client": {
            "{{ .Values.authentication.client.grist.client_id }}": [
              {
                "name": "token-exchange-role",
                "description": "",
                "composite": false,
                "clientRole": true,
                "attributes": {}
              }
            ],
            "{{ .Values.authentication.client.synapse.client_id }}": [
              {
                "name": "token-exchange-role",
                "description": "",
                "composite": false,
                "clientRole": true,
                "attributes": {}
              }
            ],
            "{{ .Values.authentication.client.meet.client_id }}": [
              {
                "name": "token-exchange-role",
                "description": "",
                "composite": false,
                "clientRole": true,
                "attributes": {}
              }
            ],
            "{{ .Values.authentication.client.conversations.client_id }}": [
              {
                "name": "token-exchange-role",
                "description": "",
                "composite": false,
                "clientRole": true,
                "attributes": {}
              }
            ],
            "{{ .Values.authentication.client.drive.client_id }}": [
              {
                "name": "token-exchange-role",
                "description": "",
                "composite": false,
                "clientRole": true,
                "attributes": {}
              }
            ],
            "{{ .Values.authentication.client.nextcloud.client_id }}": [
              {
                "name": "token-exchange-role",
                "description": "",
                "composite": false,
                "clientRole": true,
                "attributes": {}
              }
            ],
            "{{ .Values.authentication.client.docs.client_id }}": [
              {
                "name": "token-exchange-role",
                "description": "",
                "composite": false,
                "clientRole": true,
                "attributes": {}
              }
            ],
            "{{ .Values.authentication.client.openproject.client_id }}": [
              {
                "name": "token-exchange-role",
                "description": "",
                "composite": false,
                "clientRole": true,
                "attributes": {}
              }
            ]
          }
        },
        {{- if eq .Environment.Name "demo" }}
        "users" : [
          {{- $users := .Values.user }}
          {{- range $index, $user := $users }}
          {
            "username" : {{ $user.username | quote }},
            "firstName" : {{ $user.firstname | quote }},
            "lastName" : {{ $user.lastname | quote }},
            "email" : {{ $user.email | quote }},
            "emailVerified" : true,
            "credentials" : [ {
              "type" : "password",
              "value": "$(env:MB_USER_PASSWORD_{{ regexReplaceAll "[^A-Z0-9_]" (upper $user.username) "_" }})",
              "temporary": false
            } ],
            "enabled" : true
          }{{- if lt $index (sub (len $users) 1) }},{{- end }}
          {{- end }}
        ],
        {{- end }}
        "internationalizationEnabled": true,
        "eventsEnabled": true,
        "eventsExpiration": 86400,
        "adminEventsEnabled": true,
        "supportedLocales": [
          "en",
          "{{ .Values.global.defaultLocale }}"
        ],
        "defaultLocale": "{{ .Values.global.defaultLocale }}"
      }

postgresql:
  enabled: false

externalDatabase:
  host: {{ .Values.database.keycloak.host | quote }}
  port: {{ .StateValues.database.keycloak.port | quote }}
  user: {{ .StateValues.database.keycloak.user | quote }}
  database: {{ .StateValues.database.keycloak.name | quote }}
  password: {{ .StateValues.database.keycloak.password | quote }}


defaultInitContainers:
  prepareWriteDirs:
    containerSecurityContext: {{ .Values.security.default.containerSecurityContext | toYaml | nindent 6 }}
    resourcesPreset: {{ coalesce .Values.global.resourcesPresetPerApp.keycloak .Values.global.resourcesPreset | quote }}
