#
# SPDX-License-Identifier: APACHE-2.0

## @section Global parameters
global:
  imageRegistry: ""
  {{- with (coalesce .Values.container.postgres.imagePullSecret .Values.container.default.imagePullSecret) }}
  imagePullSecrets:
    - {{ . | quote }}
  {{- end }}
  defaultStorageClass: {{ coalesce .Values.pvc.calendars.postgresql.storageClass .Values.pvc.default.storageClass | quote }}
  storageClass: {{ coalesce .Values.pvc.calendars.postgresql.storageClass .Values.pvc.default.storageClass | quote }}
  security:
    allowInsecureImages: true
  postgresql:
    fullnameOverride: ""
    auth:
      postgresPassword: ""
      username: ""
      password: ""
      database: ""
      existingSecret: ""
      secretKeys:
        adminPasswordKey: ""
        userPasswordKey: ""
        replicationPasswordKey: ""
    service:
      ports:
        postgresql: ""
  compatibility:
    openshift:
      adaptSecurityContext: auto

## @section Common parameters
kubeVersion: ""
nameOverride: ""
fullnameOverride: "calendars-cluster-rw"
namespaceOverride: ""
clusterDomain: {{ .Values.cluster.networking.domain | default "cluster.local" | quote }}
extraDeploy: []
commonLabels: {}
commonAnnotations: {}
secretAnnotations: {}
diagnosticMode:
  enabled: false
  command:
    - sleep
  args:
    - infinity

## @section PostgreSQL common parameters
image:
  registry: {{ coalesce .Values.container.postgres.registry .Values.container.default.registry | default "docker.io" | quote }}
  repository: {{ .Values.container.postgres.repository | default "bitnami/postgresql" | quote }}
  tag: {{ .Values.container.postgres.tag | default "17.5.0-debian-12-r18" | quote }}
  digest: ""
  pullPolicy: Always
  {{- with (coalesce .Values.container.postgres.imagePullSecret .Values.container.default.imagePullSecret) }}
  pullSecrets:
    - {{ . | quote }}
  {{- end }}
  debug: false

auth:
  enablePostgresUser: true
  postgresPassword: {{ .Values.database.calendars.adminpassword | quote }}
  username: {{ .Values.database.calendars.user | quote }}
  password: {{ .Values.database.calendars.password | quote }}
  database: {{ .Values.database.calendars.name | quote }}
  replicationUsername: repl_user
  replicationPassword: ""
  existingSecret: ""
  secretKeys:
    adminPasswordKey: postgres-password
    userPasswordKey: password
    replicationPasswordKey: replication-password
  usePasswordFiles: true

architecture: standalone

replication:
  synchronousCommit: "off"
  numSynchronousReplicas: 0
  applicationName: my_application

containerPorts:
  postgresql: 5432

audit:
  logHostname: false
  logConnections: false
  logDisconnections: false
  pgAuditLog: ""
  pgAuditLogCatalog: "off"
  clientMinMessages: error
  logLinePrefix: ""
  logTimezone: ""

ldap:
  enabled: false

postgresqlDataDir: /bitnami/postgresql/data
postgresqlSharedPreloadLibraries: "pgaudit"

shmVolume:
  enabled: true
  sizeLimit: ""

tls:
  enabled: false
  autoGenerated: false
  preferServerCiphers: true
  certificatesSecret: ""
  certFilename: ""
  certKeyFilename: ""
  certCAFilename: ""
  crlFilename: ""

## @section PostgreSQL Primary parameters
primary:
  name: primary
  configuration: ""
  pgHbaConfiguration: ""
  existingConfigmap: ""
  extendedConfiguration: ""
  existingExtendedConfigmap: ""
  initdb:
    args: ""
    postgresqlWalDir: ""
    scripts: {}
    scriptsConfigMap: ""
    scriptsSecret: ""
    user: ""
    password: ""
  standby:
    enabled: false
    primaryHost: ""
    primaryPort: ""
  extraEnvVars: []
  extraEnvVarsCM: ""
  extraEnvVarsSecret: ""
  command: []
  args: []
  livenessProbe:
    enabled: true
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 6
    successThreshold: 1
  readinessProbe:
    enabled: true
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 6
    successThreshold: 1
  startupProbe:
    enabled: false
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 1
    failureThreshold: 15
    successThreshold: 1
  resourcesPreset: {{ .Values.global.resourcesPreset | quote }}
  resources: {{ .Values.resource.calendars.postgresql | default dict | toYaml | nindent 4 }}
  podSecurityContext: {{ .Values.security.default.podSecurityContext | toYaml | nindent 4 }}
  containerSecurityContext: {{ .Values.security.default.containerSecurityContext | toYaml | nindent 4 }}
  persistence:
    enabled: true
    existingClaim: ""
    mountPath: /bitnami/postgresql
    subPath: ""
    storageClass: {{ coalesce .Values.pvc.calendars.postgresql.storageClass .Values.pvc.default.storageClass | quote }}
    accessModes:
      {{- if .Values.pvc.calendars.postgresql.accessModes }}
      {{ .Values.pvc.calendars.postgresql.accessModes | toYaml | nindent 6 }}
      {{- else }}
      - ReadWriteOnce
      {{- end }}
    size: {{ coalesce .Values.pvc.calendars.postgresql.size .Values.pvc.default.size "8Gi" }}
    annotations: {}
    labels: {}
    selector: {}
    dataSource: {}
  service:
    type: ClusterIP
    ports:
      postgresql: 5432
    nodePorts:
      postgresql: ""
    clusterIP: ""
    sessionAffinity: None
    sessionAffinityConfig: {}
    headless:
      annotations: {}

metrics:
  enabled: {{ .Values.metric.enabled | default false }}
  image:
    registry: {{ coalesce .Values.container.postgres_exporter.registry .Values.container.default.registry | default "docker.io" | quote }}
    repository: {{ .Values.container.postgres_exporter.repository | default "bitnami/postgres-exporter" | quote }}
    tag: {{ .Values.container.postgres_exporter.tag | default "0.17.1-debian-12-r9" | quote }}
    digest: ""
    pullPolicy: IfNotPresent
    {{- with (coalesce .Values.container.postgres_exporter.imagePullSecret .Values.container.default.imagePullSecret) }}
    pullSecrets:
      - {{ . | quote }}
    {{- end }}
  serviceMonitor:
    enabled: {{ .Values.metric.serviceMonitor.enabled | default false }}
    namespace: ""
    interval: ""
    scrapeTimeout: ""
    labels: {}
    selector: {}
    relabelings: []
    metricRelabelings: []
    honorLabels: false
    jobLabel: ""
