bases:
  - "../../bases/default.yaml.gotmpl"

releases:
  - name: "ollama"
    chart: "./charts/ollama"
    condition: application.ollama.enabled
    {{- if .Values.application.ollama.namespace }}
    namespace: {{ .Values.application.ollama.namespace }}
    {{- end }}
    values:
      - "../common/values-cluster-ingress.yaml.gotmpl"
      - "values.yaml.gotmpl"
