{{- if .Values.application.livekit.enabled }}
livekit:
  meet:
    {{- if not .Values.livekit.meet.apiURL }}
    {{- $keyName := .Values.application.livekit.keys | keys | first }}
    apiKey: {{ $keyName | quote }}
    apiSecret: {{ index .Values.application.livekit.keys $keyName | quote }}
    apiURL: "https://{{ .Values.global.hostname.livekit }}.{{ .Values.global.domain }}"
    {{- end }}
{{- end }}
