container: # Optional, no docker ratelimits!
  default:
    registry: "harbor.mijnbureau.rabevcqhguoovcu.xyz/dockerproxy"
  keycloak:
    registry: "harbor.mijnbureau.rabevcqhguoovcu.xyz/dockerproxy"
  keycloak_cli:
    registry: "harbor.mijnbureau.rabevcqhguoovcu.xyz/dockerproxy"
  ollama:
    registry: "harbor.mijnbureau.rabevcqhguoovcu.xyz/dockerproxy"
  kubectl:
    registry: "harbor.mijnbureau.rabevcqhguoovcu.xyz/dockerproxy"
  nginx:
    registry: "harbor.mijnbureau.rabevcqhguoovcu.xyz/dockerproxy"
  grist:
    registry: "harbor.mijnbureau.rabevcqhguoovcu.xyz/dockerproxy"
  minio:
    registry: "harbor.mijnbureau.rabevcqhguoovcu.xyz/dockerproxy"
  minio_shell:
    registry: "harbor.mijnbureau.rabevcqhguoovcu.xyz/dockerproxy"
  minio_console:
    registry: "harbor.mijnbureau.rabevcqhguoovcu.xyz/dockerproxy"
  postgres:
    registry: "harbor.mijnbureau.rabevcqhguoovcu.xyz/dockerproxy"
  postgres_exporter:
    registry: "harbor.mijnbureau.rabevcqhguoovcu.xyz/dockerproxy"
  redis:
    registry: "harbor.mijnbureau.rabevcqhguoovcu.xyz/dockerproxy"
  redis_exporter:
    registry: "harbor.mijnbureau.rabevcqhguoovcu.xyz/dockerproxy"
  elementweb:
    registry: "harbor.mijnbureau.rabevcqhguoovcu.xyz/dockerproxy"
  synapse:
    registry: "harbor.mijnbureau.rabevcqhguoovcu.xyz/dockerproxy"
  collabora:
    registry: "harbor.mijnbureau.rabevcqhguoovcu.xyz/dockerproxy"
  nextcloud:
    registry: "harbor.mijnbureau.rabevcqhguoovcu.xyz/dockerproxy"
  opensearch:
    registry: "harbor.mijnbureau.rabevcqhguoovcu.xyz/dockerproxy"
  osShell:
    registry: "harbor.mijnbureau.rabevcqhguoovcu.xyz/dockerproxy"
  livekit_server:
    registry: "harbor.mijnbureau.rabevcqhguoovcu.xyz/dockerproxy"
  meet_backend:
    registry: "harbor.mijnbureau.rabevcqhguoovcu.xyz/dockerproxy"
  meet_frontend:
    registry: "harbor.mijnbureau.rabevcqhguoovcu.xyz/dockerproxy"
  conversations_backend:
    registry: "harbor.mijnbureau.rabevcqhguoovcu.xyz/dockerproxy"
  conversations_frontend:
    registry: "harbor.mijnbureau.rabevcqhguoovcu.xyz/dockerproxy"
  drive_backend:
    registry: "harbor.mijnbureau.rabevcqhguoovcu.xyz/dockerproxy"
  drive_frontend:
    registry: "harbor.mijnbureau.rabevcqhguoovcu.xyz/dockerproxy"
  docs:
    registry: "harbor.mijnbureau.rabevcqhguoovcu.xyz/dockerproxy"
  clamav:
    registry: "harbor.mijnbureau.rabevcqhguoovcu.xyz/dockerproxy"
  docspec:
    registry: "harbor.mijnbureau.rabevcqhguoovcu.xyz/ghcrproxy"
  openproject:
    registry: "harbor.mijnbureau.rabevcqhguoovcu.xyz/ghcrproxy"
  bureaublad:
    registry: "harbor.mijnbureau.rabevcqhguoovcu.xyz/ghcrproxy"
