database:
  default:
    provider: bitnami

  grist:
    type: postgresql
    host: grist-cluster-rw
    name: grist
    user: grist
    port: 5432
    isInternal: true
    password: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "grist" "database" | sha1sum | quote}}
    adminpassword: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "grist" "database_admin" | sha1sum | quote}}

  keycloak:
    name: keycloak
    host: keycloak-cluster-rw
    port: 5432
    user: keycloak
    password: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "keycloak" "database" | sha1sum | quote}}
    adminpassword: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "keycloak" "database_admin" | sha1sum | quote}}

  synapse:
    type: psycopg2
    name: synapse
    host: element-cluster-rw
    port: 5432
    isInternal: true
    user: synapse
    password: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "synapse" "database" | sha1sum | quote}}
    adminpassword: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "synapse" "database_admin" | sha1sum | quote}}

  nextcloud:
    type: postgresql
    host: nextcloud-cluster-rw
    name: nextcloud
    user: nextcloud
    port: 5432
    isInternal: true
    password: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "nextcloud" "database" | sha1sum | quote}}
    adminpassword: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "nextcloud" "database_admin" | sha1sum | quote}}

  openproject:
    type: postgresql
    host: openproject-cluster-rw
    name: openproject
    user: openproject
    port: 5432
    isInternal: true
    password: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "openproject" "database" | sha1sum | quote}}
    adminpassword: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "openproject" "database_admin" | sha1sum | quote}}

  meet:
    type: postgresql
    host: meet-cluster-rw
    name: meet
    user: meet
    port: 5432
    isInternal: true
    password: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "meet" "database" | sha1sum | quote}}
    adminpassword: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "meet" "database_admin" | sha1sum | quote}}

  conversations:
    type: postgresql
    host: conversations-cluster-rw
    name: conversations
    user: conversations
    port: 5432
    isInternal: true
    password: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "conversations" "database" | sha1sum | quote}}
    adminpassword: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "conversations" "database_admin" | sha1sum | quote}}

  docs:
    engine: django.db.backends.postgresql_psycopg2
    name: docs
    host: docs-cluster-rw
    port: 5432
    isInternal: true
    user: docs
    password: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "docs" "database" | sha1sum | quote}}
    adminpassword: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "docs" "database_admin" | sha1sum | quote}}

  drive:
    type: postgresql
    host: drive-cluster-rw
    name: drive
    user: drive
    port: 5432
    isInternal: true
    password: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "drive" "database" | sha1sum | quote}}
    adminpassword: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD" ) "drive" "database_admin" | sha1sum | quote}}

  find:
    type: postgresql
    name: find
    host: find-postgresql
    port: 5432
    isInternal: true
    user: find
    password: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD") "find" "database" | sha1sum | quote }}
    adminpassword: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD") "find" "database_admin" | sha1sum | quote }}

  calendars:
    type: django.db.backends.postgresql
    name: calendars
    host: calendars-cluster-rw
    port: 5432
    isInternal: true
    user: calendars
    password: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD") "calendars" "database" | sha1sum | quote }}
    adminpassword: {{ derivePassword 1 "long" (requiredEnv "MIJNBUREAU_MASTER_PASSWORD") "calendars" "database_admin" | sha1sum | quote }}
