## here you can overwrite specific application resource requirements
resource:
  keycloak:
    keycloak:
    postgresql:

  ollama:

  grist:
    grist:
    postgresql:
    redis:
    minio:
    nginx:

  element:
    elementweb:
    postgresql:
    redis:

  collabora:
    requests:
      memory: 512Mi
      cpu: 500m
    limits:
      memory: 3Gi
      cpu: 2


  synapse:
    master:
    worker:
      default:

  openproject:
    openproject:
    dbInit:
    appInit:
    cron:
    workers:
    hocuspocus:
    seederJob:
    postgresql:
    minio:
    redis:

  nextcloud:
    nextcloud:
    postgresql:
    redis:
    minio:

  livekit:
    livekit:
    redis:

  meet:
    postgresql:
    redis:
    meetFrontend:
    meetBackend:
    nginx:

  conversations:
    postgresql:
    redis:
    conversationsFrontend:
    conversationsBackend:
    nginx:

  docs:
    postgresql:
    redis:
    minio:
    nginx:
    backend:
    celery:
    frontend:
    yProvider:
    docspec:

  bureaublad:
    backend:
    frontend:
    redis:

  drive:
    driveFrontend:
    driveBackend:
    postgresql:
    redis:
    minio:
    celery:
    celeryBeat:
    nginx:

  find:
    backend:
    celery:
    postgresql:
    redis:
    opensearch:

  calendars:
    frontend:
    backend:
    worker:
    caldav:
    postgresql:
    redis:
    nginx:

  clamav:
